.dropdown {
  position: relative;
  border-radius: 5px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  cursor: pointer;
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: calc(100% - 2rem);
    background-color: #ff6060;
    z-index: 5;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  &__text {
    display: none;
  }

  &.--active {
    height: fit-content;
    .dropdown__text {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      padding-top: 48px;
      margin-top: 20px;
      left: 0;
      width: auto;
      height: fit-content;
      background-color: #f7f7f7;
      border-radius: 5px;
      color: #ff6060;
      font-size: 1.1rem;
      p {
        margin: 0.4rem 0;
      }
    }
    .dropdown__label {
      img {
        transform: rotate(180deg);
      }
    }
  }
}
