.about {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  .dropdown-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 1rem 5rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .about {
    .dropdown-container {
      margin: 3rem 0;
      padding: 1rem 2rem;
      gap: 2rem;
    }
  }
}
