.single {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 140px;
  margin-bottom: 4rem;
  width: auto;
  font-family: "Montserrat", sans-serif;
  min-height: calc(100vh - 360px - 4rem);

  &__carousel {
  }

  &__container {
    display: flex;
    margin: 2rem 0;
    gap: 2rem;
  }

  .right,
  .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
  }

  .left {
    &__title {
      color: #ff6060;
      h1 {
        font-weight: 500;
        font-size: 2.6rem;
        margin: 0;
      }
      h4 {
        margin: 0;
        margin-top: 0.4rem;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }

    &__tags {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 1rem;
    }
  }

  .right {
    &__host {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      &__name {
        color: #ff6060;
      }
      &__picture {
        display: flex;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        overflow: hidden;
        img {
          object-fit: contain;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__rating {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    max-width: 100%;
    gap: 2rem;
    &__desc,
    &__features {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  }
}
