.page-not-found {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  h1 {
    font-size: 8rem;
    margin: 0;
  }
  p {
    font-size: 2.4rem;
  }
  .link {
    position: absolute;
    bottom: 10rem;
    a {
      color: #ff6060;
    }
  }
}

@media screen and (max-width: 800px) {
  .page-not-found {
    p {
      font-size: 1.3rem;
      padding: 0 1rem;
    }
  }
}
